body {
    color: #70706F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center !important;

}

.btn-link {
    color: #70706F;
}

h2 .btn-text {
    font-weight: 700;
}

.bg {
    background-image: url("../img/background.jpg") ;
    background-repeat: no-repeat;
}

.icons-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.icons-middle:hover{
    background-color: transparent;
}

.icon-size {
    font-size: 1.50rem;
}

.btn-xl {
    padding: .1rem 2rem;

    border-radius: .6rem;
    height: 7rem;
    width: 7rem;
    border-color: #adadad !important;
}

.btn-flat {
    border-radius: .6rem;
    height: 5rem;
    width: 14rem;
    border-color: #adadad !important;
}

h2 {
    width: 100%;
}









